*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    display: block;
    margin: auto;
    height: 70px;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
}
.project{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    transition: .4s;
    width: 500px;
}
.project:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.project-info{
    display: inline-block;
}
.project-info p{
    display: inline;
}
.project-btn{
    vertical-align: middle;
    min-width: 100px;
}
hr{
    width: 95%;
    margin-left: auto!important;
    margin-right: auto!important;
}
@media screen and (max-width: 1200px) {
    .container{
        justify-content: center;
    }

}
@media screen and (max-width: 550px) {
    .logo{
        height: 55px;
    }
    .project{
        width: 300px;
    }
    .project h4{
        font-size: 14px;
    }
    .project p, .project-btn{
        font-size: 10px!important;
    }
    .project-btn{
        min-width: 80px;
    }
}